body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .newMessage {
    color:red;
    width:auto;
    height: auto;
    border:1px solid black;
    margin:10px;
    border-radius: 10px;
    word-wrap:break-word;
    padding:5px;
  }
  .newMessage:nth-child(even){
    background-color:#CCCCCC;
    margin-left:50%;
  }
  .newMessage:nth-child(odd){
    background-color:white;
    margin-right:50%;
  }


}


